:root {
  --ZCOOL: 'ZCOOL XiaoWei', serif;
  --Fredericka:'Fredericka the Great', cursive;
  --greyBlue: #394d4d;
  --teal: #6b9da4;
  --dTeal: #487783;
  --lTeal: #b3d4c6;
  --white: #ffffff;
}
/* main page styles */
html, body {
    overflow-x: hidden;
    width: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}

.Header { 
  grid-area: header;
  text-align: center;
 }
.v { grid-area: menu; }
.tip1 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  padding: 20px 0;
  font-size: 30px;
}

.mainhead1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("\img\Header1.jpg");

  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* upper navigtion bar styles */
nav {
  font-size: 2em;
}
nav a {
  text-decoration: none;
  padding: 20px;
  color: var(--dTeal);
  display: inline-block;
}
nav a:hover {
  background-color: var(--dTeal);
  color: var(--white);
}
div.top {
  background-color: var(--white);
  display: flex;
}
div.wordmark {
  font-family: var(--Fredericka);
  flex: 10 0 0;
  font-size: 4em;
  justify-content: space-between
}

/* first content styles */
.banner-image img {
  display: flex;
  flex: 1;
  background-size: cover;
  background-color: var(--lTeal);
}
div.banner-content {
  background-color: var(--lTeal);
  padding: 2em;
  flex: 2;
}
div.banner-content h1{
  font-family: var(--ZCOOL);
}

div.banner-content a:hover {
  font-family: var(--ZCOOL);
  background-color: var(--white);
  color: var(--greyBlue);
}
.button:active {
  background-color: var(--white);
  color: #bf3c22;
}
/* general font styles for the page */
h2 h3{
  font-family: var(--ZCOOL);
}
p{
  font-family: 'Lato', sans-serif;
}

/* Add styles here for extra small devices (portrait phones, less than 576px) */
nav {
  float: right;
  flex: 1 0 0 ;
}
div.banner {
  display: flex;
  flex-direction: column;
}
section.widgets {
  display: flex;
  flex-direction: column;
  column-count: 4;
  text-align: center;
  margin: 1.5em;
}
.banner-image img {
  height: 100%;
  width: 100%;
}

@media (min-width: 576px) {
    /* Add styles here for small devices (landscape phones, 576px and up) */
    section.widgets {
      flex-direction: column;
      column-count: 4;
    }
    div.banner {
      flex-direction: column;
    }
    .banner-image img {
      height: 100%;
      width: 100%;
    }
}

@media (min-width: 768px) {
    /* Add styles here for medium devices (Tablets...etc) */
  section.widgets {
    display: grid;
  }
  div.banner {
    flex-direction: row;
  }

@media (min-width: 992px) {
    /* Add styles here for large devices (desktops, 992px and up) */
    section.widgets {
      display: flex;
      flex-direction: row;
    }
    div.banner {
      flex-direction: row;
    }
}

@media (min-width: 1200px) {
    /* Add styles here for extra large devices (large desktops, 1200px and up) */
    section.widgets {
      display: flex;
      flex-direction: row;
    }
    div.banner {
      flex-direction: row;
    }
}
}